.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-brand a {
  color: #e50914; /* Brand Red */
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-link:hover {
  color: #e50914;
}
